@{
  Layout="Shared/_Layout.cshtml";
}

<h1 class="text-center">CHOOSE YOUR SCORE &#128172</h1>

<div class="well" id='body'>
  <form method="post" action="/">
    <div class="form-group">
      <label for="user-input">Type a word to see its Scrabble score</label>
      <input type="text" class="form-control" name="user-input" id="user-input">
    </div>
    <button type="submit" class="btn btn-info btn-block">Submit</button>
  </form>

  @if(@Model != null && @Model["validity"] == "True")
  {
    <h3 class="text-center">Your word was @Model["input"].</h3>
    <h3 class="text-center">Your score is @Model["score"].</h3>
  }

  @if(@Model != null && @Model["validity"] == "False")
  {
    <h3 class="text-center">&#128680 Invalid characters detected! &#128680 Try again.</h3>
  }

</div>
